header{
    flex-wrap: nowrap;
    background-color: $fondo-primario;
    padding: 6px;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    img{
      width: 130px;
      margin-top: 10px;
      margin-left: 30px;
      margin-bottom: 10px;
          .navbar{
          background-color: $fondo-primario;
          font-size: 18px;
          letter-spacing: 0.1px;
          justify-content: end;
              .nav-link{
              font-family: $tipografia;
              color: rgb(56, 53, 53);
                  a{
                  color: $texto-primario;
                  text-decoration: none;
                  font-family: $tipografia;
                      &:hover{
                      text-decoration: underline;
                      }
                  }
              }
          }
      }
  }