.home{
    margin-left: 40px;
    margin-right: 40px;
    img{
    margin-top: 40px;
    margin-bottom: 30px;
    }
}

h1{
  color: $texto-primario;
  font-family: $tipografia;
  font-size: 30px;
  font-weight: 600;
}

.título{ 
    margin-top: 20px;
    margin-bottom: 20px;
}

h5{
    font-family: $tipografia;
    font-size: 30px;
    font-weight: 600;
}

p{
    color: $texto-primario;
    font-family: $tipografia;
    font-size: 16px;
}

.home .carousel p{
    color: aliceblue;
    font-family: $tipografia;
    font-size: 20px;
    font-weight: 350;
}


.propósito
  img{
    width: 400px;
    height: 500px;
    margin-bottom: 20px;
  }
   

.acercade p{
    color: $texto-primario;
    font-family: $tipografia;
    font-size: 16px;
    text-align: justify;
}

.about .content ul{
    list-style: none;
    padding: 0;
        li{
        padding: 0 0 8px 26px;
        position: relative;
            i{
            position: absolute;
            font-size: 20px;
            left: 0;
            top: -3px;
            }
        }
}

.newsletter{
    display: flex;
    flex-wrap: wrap;
    background-color: $fondo-primario;
    padding: 20px 20px;
}


.suscríbete-img img{
    width: 100%
}


div .submit button:active{
    background-color: rgb(185, 185, 216);
    font-family: 'Quickasnd', sans-serif;
}


.formulario{
    text-align: left
}


.Prom1{
    font-weight: 600;
    margin-left: 10px;
    margin-top: 40px;
    font-family: $tipografia;
    font-size: 30px;
}


.Correo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}


.submit{
    margin-top: 0.5px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.info1{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 30px;
}

row .información{
    margin-left: 40px;
}

#seccion-contacto-rrss{
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 5px;
        img{
        width: 35px;
        margin-left: 40px;
        }
    }

.whatsapp{
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}